<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    nav a{
        text-decoration: none!important;
    }
    i{
        vertical-align: middle;
    }
    table a{
        text-decoration: none;
    }
    table a:hover{
        text-decoration: none!important;
    }
    a:hover {
        cursor:pointer;
    }
    #status{
        font-size: 0.5rem;
        font-weight: lighter;
    }

    .content {
        display: flex;
        align-items: flex-end;
        align-self: flex-start;
    }

    .content img {
        margin-right: 10px;
        display: block;
    }
    .content .text{
        vertical-align: middle;
    }

    .content h2, h4, h3{
        margin: 5px 0;
    }

    .content p {
        margin: 0;
        font-size: 0.7rem;
        margin-top: 20px;
    }

    .content p, .content i{font-size: 0.7rem;}
    .content a{text-decoration: none;}
</style>