<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    nav a{
        text-decoration: none!important;
    }
    i{
        vertical-align: middle;
    }
    table a{
        text-decoration: none;
    }
    table a:hover{
        text-decoration: none!important;
    }
    a:hover {
        cursor:pointer;
    }
    #status{
        font-size: 0.5rem;
        text-align: middle;
        font-weight: lighter;
    }
</style>