<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    nav a{
        text-decoration: none!important;
    }
    i{
        vertical-align: middle;
    }
    table a{
        text-decoration: none;
    }
    table a:hover{
        text-decoration: none!important;
    }
    a:hover {
        cursor:pointer;
    }
    #status{
        font-size: 0.5rem;
        font-weight: lighter;
    }

    .content {
        display: flex;
        align-items: flex-end;
        align-self: flex-start;
    }

    .content img {
        margin-right: 10px;
        display: block;
    }
    .content .text{
        vertical-align: middle;
    }

    .content h2, h4, h3{
        margin: 5px 0;
    }

    .content p {
        margin: 0;
        font-size: 0.7rem;
        margin-top: 20px;
    }

    .content p, .content i{font-size: 0.7rem;}
    .content a{text-decoration: none;}

    img[src*="#fig"] {
        border: 1px solid #c0c0c0;
    }
    #data-recommendation h2{
        border-bottom: none!important;
        margin-top: 0!important;
        margin-bottom:0!important;
        color: rgba(0,102,102, 0.6)
    }
    #data-recommendation ul{
        margin-top: 0!important;
        margin-bottom:0!important;
    }
    #data-recommendation img{
        margin-left: 40px!important;
        border: 1px solid #6f777d;
        width: 700px;
        height: 315px;
    }
</style>